<strong>Hello, {{ provider}}</strong>
<p>Someone cancelled an appointment, check the details below:</p>
<p>
    <strong>Customer: </strong> {{user}} <br />
    <strong>Date/time: </strong> {{date}} <br />
    <br />
    <small>
        This time slot is free for appointment again
    </small>
</p>